# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type sdv_someip_stack_default, domain;
typeattribute sdv_someip_stack_default mlstrustedsubject;
type sdv_someip_stack_default_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(sdv_someip_stack_default)

# Allow the sdv_someip_stack_default domain to use Binder IPC
binder_use(sdv_someip_stack_default)

# SOME/IP agent can use sockets
net_domain(sdv_someip_stack_default)

typeattribute sdv_someip_stack_default sdv_someip_stack_server;

allow sdv_someip_stack_default vendor_someip_data_file:dir rw_dir_perms;
allow sdv_someip_stack_default vendor_someip_data_file:file create_file_perms;
allow sdv_someip_stack_default vendor_someip_data_file:sock_file { write create setattr unlink };
