# Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_harpaltest, domain;
type vendor_harpaltest_exec, exec_type, vendor_file_type, file_type;

#Allow for transition from init domain to agmservice
init_daemon_domain(vendor_harpaltest)

r_dir_file(vendor_harpaltest, proc_asound)
binder_call(vendor_harpaltest, vendor_agmipcservice)
binder_call(vendor_harpaltest, servicemanager)

allow vendor_harpaltest audio_device:dir r_dir_perms;
allow vendor_harpaltest audio_device:chr_file rw_file_perms;
get_prop(vendor_harpaltest, vendor_audio_prop)
get_prop(vendor_harpaltest, hwservicemanager_prop)

allow vendor_harpaltest vendor_sysfs_kpi:file w_file_perms;
allow vendor_harpaltest vendor_sysfs_sndcard:file {open read write rw_file_perms};
allow vendor_harpaltest vendor_harpaltest:qipcrtr_socket create;
allow vendor_harpaltest vendor_agmipcservice:unix_stream_socket connectto;

userdebug_or_eng(`
allow vendor_harpaltest kmsg_debug_device:chr_file {open write};
')

#socket permission to start harpaltest during boot
allow vendor_harpaltest agm_socket_dev:sock_file { write setattr create };
allow vendor_harpaltest agm_socket_dev:dir { write add_name setattr };
